
@media (max-width: 768px){
	
	.topHeader {
    display: none;
}

.mainHeader {
    display: block;
    width: 100%;
}

.mainContent {
    width: 100%;
    padding: 0px;
}

header {
    width: 100%;
    position: initial;
}

.navbar {
    width: 100%;
    display: none;
}

.logo {
    width: 50%;
    text-align: center;
    margin-left: 0px;
    float: left;
    text-align: left;
}

.lgo {}

.searchForm {
    display: none;
}

.navbar ul.menu {
    float: left;
}
.section-title {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}

.section-title-inner {
    width: 100%;
}

.serviceBox {
    margin-right: 0px;
    width: 100%;
}

.galleryBox {
    width: 100%;
    margin-right: 0px;
    text-align: center;
}

.galleryBoxOverly {
    width: 100%;
}

.galleryBoxInner {
}

.galleryBoxes {
    padding: 30px;
}

.goalLeft {
    width: 100%;
    text-align: center;
}

.goalRight {
    width: 100%;
}

.goalRighBox {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
}

.goalRightInner {
    padding: 30px;
}

.fBox {
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 30px;
}

.fLogo {
    width: 100%;
}	
	
.sliderTitle {
    width: 100%;
    text-align: center;
}

.sliderButton {
    text-align: center;
    margin-bottom: 30px;
}	
	
/* responsive menu css*/	
	.navbar ul.menu li {
    float: none;
}

.navbar ul.menu li a {
    padding: 10px 15px;
}

.navbar {
}

ul.menu {
    width: 100%;
    background: #232358;
}

ul.menu {}

.navbar ul ul#subMenu {
    transform: scale(1);
    width: 100%;
    text-align: left;
    background: #121233;
    position: initial;
}
.navbar ul ul#subMenu li a {
    padding: 2px 20px;

}
.mobileMenuBar {
    display: block;
    color: white;
    font-size: 30px;
    width: 42%;
    float: right;
    text-align: right;
    margin-top: 26px;
    margin-right: 25px;
}
.logo img {
    margin-left: 20px;
    padding-bottom: 10px;
}

.mobileMenuBar i{
	cursor:pointer;
}
.container{
	width:1140px;
	padding:0px 15px;
	margin:auto;
}
#caretIcon{
	float:right;
}
#subMenu{
	display:none;
}

#caretIcon{display:block;};












/*responsive menu css end*/	
		
}
























